[Unit]
Description=Poisontap Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /var/opt/poisontap/pi_startup.sh

[Install]
WantedBy=multi-user.target

